# Questa
*.ini
*.wlf
*.vcd
*.mti
*.mpf
work/
transcript
logs/
# Compiled simulation databases
*_lib*.qdb
*_lib*.qpg
*_lib*.qtl

# Questa internal dirs
@_opt/
_opt/
_opt1__lock
_opt__lock
_temp/
_tempmsg/
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/settings.json
a.out
.vscode/
docs/SM/RDI_SM/.~lock.SM.docx#
docs/SM/RDI_SM/.$RDI SM.drawio.bkp
docs/SM/RDI_SM/.$RDI SM.drawio.dtmp
Agent
vish_stacktrace.vstf
rtl/MainSM/RDI_SM/unit_active_state/unit_active_state.sv.bak
tb/unit/MainSM/RDI_SM/unit_active_pmnak_state/.fuse_hidden0000047e00000003
